nav ul{
    display: flex;
    list-style-type: none;
    padding: 0px;   
}
nav ul li{
    padding: 30px 20px;
}

nav ul li:last-child{
    padding-right: 0px;
}
nav ul li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 20px 20px;
    border: 7px solid rgb(214, 236, 14);
    border-radius: 20px;

}
div img{
    border: 5px solid rgb(214, 236, 14);;
    border-radius: 10px;
    cursor: pointer;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: green;
    color: white;
    padding: 10px;
}
img{
    cursor: pointer;
}